#countdownTimer {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

#countdownTimer .timer-container {
    text-align: center;
}

#countdownTimer select, #countdownTimer button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#countdownDisplay {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

#explanation-wrapper {
    width: 70%;
    margin: 0 auto;
}